esphome:
  name: welltest-acvoltage
  friendly_name: welltest-ACvoltage

esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:
  level: DEBUG
# Enable Home Assistant API
api:
  encryption:
    key: "zvSTnuA7hg9isftMPInLQI7/9R4mYYIBax6jXE36Hvc="

ota:
  - platform: esphome
    password: "959ab457beaf217c801d67123a05b2bd"


external_components:
  - source: github://smoking-crater/homeassistant-esphome-zmpt101b@main
    components: [zmpt101b]

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  reboot_timeout: 5min
  power_save_mode: NONE
#  use_address: 192.168.0.236
#  manual_ip:
#    gateway: 192.168.0.12
#    subnet: 255.255.255.0
#    static_ip: 192.168.0.236
#    dns1: 192.168.1.250

mqtt:
  topic_prefix: welltest-ACvoltage
  discovery: false
  discover_ip: false
  discovery_retain: true
  broker: 192.168.1.93
  port: 1883


binary_sensor:
  - platform: gpio
    name: "Pump Power switch"
    pin:
      number: GPIO1
      inverted: true

sensor:
  - platform: adc
    pin: GPIO3
    name: "AC Voltage"
    id: ACVoltage
    attenuation: 12db
    update_interval: never    # Prevent default polling, let zmpt101b handle it
    internal: true            # Hide raw ADC reading from Home Assistant

  - platform: zmpt101b
    name: "AC Voltage"
    adc_id: ACVoltage
    frequency: 60
    sensitivity: 16.5872
    accuracy_decimals: 1
    force_update: true
    filters:
      - median:
          window_size: 3
          send_every: 1
      - exponential_moving_average:
          alpha: 0.20
          send_every: 1
      - throttle: 1s
#      - delta: 0.3    #this means only publish if voltage varies by more than this amount.
